<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-cesar-flores/blob/main/Actividad_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#César Flores Vivanco
#a01173318

print("Hello Python")

# El uso de "#" es para generar comentarios

"""las disticiones de diferentes variables de datos son: 
str que es para datos en letras, es importante mencionar que van en "" 
int que es para datos de numero enteros (1)
float que es para datos decimales (1.0)
bool que son para datos de verdadero o falso"""  

# tambien el cambio de type de un a otro tipo de llama type casting que como ejemplo es pasar un int a float

print(float(2))
# este es un ejemplo de booleanos
print(int(bool(1)))

# Expresiones son las expresiones matematicas algebrahicas como suma, resta, division entre otras.
# Tambien las operaciones entre parentesis se realizan primero ()

# Las variaciones son los valores que se generan a las variables que generamos
print(2+2)

# ejemplo son el valor de x que aveces le ponemos otro nombre como calificacion 
x=50
type(x)
print(x+20)

# Operaciones en cadena

''' Strings 
Michael Jackson
En este ejemplo se habla sobre la cantidad de caracteres que tiene Michael Jackson que para
este caso se empieza a contar desde 0, por lo tanto es desde 0 a 14. Cada espacio
se denomina Index

ejemplos 
serian Name[0]:M Name[13]:o 

en casos negativos comenzaria al reves
ejemplos 
Name [-1]:n Name[-15]:M
'''
''' Slicing 
Siguiendo el ejemplo anterior sería mostrar un conjunto de datos
Name[0:4]:Mich Name[8:12]:Jack

Stride 
es otro tipo de string que busca separar las letras

Para separar de par en par toda la frase seria
Name[::2]:"McalJcsn" 

Para separar hasta un limite de la frase sería
Name[0:5:2]:"Mca" que significa que desde la "M hasta la a" agrega en par

Len

La funcion Len sirve para saber la cantidad de letras hay; contando tambien los espacios,
dando como resultado 15

len("Michael Jackson"):15

Tambien se puede agregar texto a una variable string
ejemplo
Name: "Michael Jackson"
Statement= Name + "is the best" dando como resultado "Michael Jackson is the best"

Tuples

se multiplica las variables de string como
3* "Michael Jackson"
da como resultaro Michael JacksonMichael JacksonMichael Jackson '''

# Escape sequences

''' "\"

\n
sirve para hacer un saldo de linea
cuando usamos print("Michael Jackson \n is the best")

Michael Jackson
 is the best
 
\t
representa un tab
ejemplo
print("Michael Jackson \t is the best")
 
Michael Jackson     is the best

\\

si quieres agregar un "\" debes de agragar doble "\"
print("Michael Jackson \\ is the best")
tambien puedes poner una r
print(r"Michael Jackson \ is the best")
'''
# String Methods

''' 
upper()

Pasar un texto de minuscula a MAYUSCULA
A="Thiller is the sixth studio album"
B=A.upper()
B: THILLER IS THE SICXTH STUDIO ALBUM

replace

remplazar un string por otro

A="Michael Jackson is the best"
B=A.replace('Michael','Janet')

find

para encontrar un string
Name='Michael Jackson'
name.find('el'):5 quiere decir que se encuentra en el 5 puesto; recordar que empieza a contar
desde 0. 

Name.fin('Jack'):8 tambien quiere decir que empieza la letra en el 8'''

name='Lizz'
print(name[0:2])

var='01234567'
print(var[::2])

x='1'+'2'
print(x)

# Tuple

'''es una tabla en orden de secuencia que no tiene un orden secuancial estructurado
ejemplo ratings=(10,8,4,7,10,11,2)
Tambien incluye cualquier tipo de type como string, int, float

tuple1=("disco",10,1.2)

para añadir mas datos a la tabla se puede agregar de la siguiente forma

tuple2= taple1 + ('hard rock',10)
dando como resultado 
("disco",10,1.2,'hard rock',10)

tambien se pude usar el Slicing

tuple2[0:3] es igual ("disco",10,1.2)

otro ejeplo es tuple2[3:5]=> ('hard rock',10) es importante mencionar que se debe de escribir
numero mayor que en este caso es 5 y recodando que el limete es 4

  Es importante mecnionar que los tuples NO SON MODIFICABLES

La unica forma de modifica es por medio de la funcion Sorted
ejemplo
Ratings = (10,8,4,7,10,11,2)
RatingsSorted=sorted(ratings)

Tuples: Nesting

Es cuando las tablas tienen mas datos entre parentecis
ejemplo
NT = (1,2,("pop", "rock"),(1,2),("disco",1,2))

esto quiere decir que 1,2,3( es "pop",rock") que conforma uno solo. En caso de que quisieramos
la palabra rock sería de la siguiente forma
ejemplo
NT[2] = ("pop", "rock")
NT[2][1]= "rock"

'''
# List

''' 
es una lista de forma ordenada
se representa por los []
es modificable

dentro de la lista se puede tener string, int, float, list y tuples
ejemplo
L=["Michael Jackson",10.1, 1988] 

Ya que List es una tabla modificable se puede usar la funcion Extend
ejemplo
L=['Michael Jackson',10.1, 1988] 
L.extend(['pop',10])

para agregar una tabla 

'''
A=(0,1,2,3)
print(A[3])

B=["a","b","c"]
print(B[1:])

# Sets

'''Es la union de los list y tuples el cual filtra la informacion en uno solo y 
se representa por los {}
ejemplo
'''
album_list=['Michael Jackson','Thriller','Thriller',1982]
album_set=set(album_list)
print(album_set)

#set operations

A={'A','B','C'}
'''para añadir mas informacion al set se usa add'''
A.add('E')
print(A)

''' para remover se usa remove'''
A={'A','B','C'}
A.remove("A")
print(A)

'''para encontar algun objeto en set de usa in'''
A={'A','B','C'}
"B" in A

#Sets: Mathematical set operations

''' Es la interacion entre dos sets'''

''' para comparar los set y sacar los resultador iguales'''
album_set_1={'a','b','d'}
album_set_2={'a','b','e'}

album_set_3= album_set_1 & album_set_2
print(album_set_3)

''' para la union de dos sets es union'''

album_set_1={'a','b','d'}
album_set_2={'a','b','e'}

album_set_1.union(album_set_2)

'''para buscar datos de un set a otro issubset, la congruencia es el primero es
menor al segundo es true, sino es false'''

album_set_1={'a','b','d'}
album_set_2={'a','b'}

album_set_2.issubset(album_set_1)

S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

#Diccionaries

''' 
los diccionarios se distingues por los {}
tienen claves que cuentan con valores
son inmodificables y unicos
cada clave o key es separado por comas

la funcion se representa por "dict"

se representan de la siguiente forma
{'thriller':'1982','black':'1990'}
'''
D = {'a':0,'b':1,'c':2}

Hello Python
2.0
1
4
70
Li
0246
12
3
['b', 'c']
{'Thriller', 'Michael Jackson', 1982}
{'C', 'A', 'E', 'B'}
{'C', 'B'}
{'a', 'b'}

Comparation operators
Es comparar un valor u operación basado en una condicionante que produce un Boolean

ejemplo

a=6

operacion 
a==7
resultado es falso

a==6 
resultado es verdadero

In [4]:
a=6
a==7

False

In [5]:
a=6
a==6

True

en este apartado se usa las funciones de > mayor que, < menor que, == igual, ! no igual.

También se puede realizar con strings 
ejemplo
"nombre"=="apellido"
el resulado es falso ya que no son iguales

In [6]:
"nombre"=="apellido"

False

Branching

the if statement

ejemplo

age=17

if(age>18):

    print("verdadero, entra"

print("falso, no entra")

In [9]:
age=17

if(age>18):

  print("verdadero, entra")

print("falso, no entra")

falso, no entra

the else statement

es una segunda opcion que se conoce como entonces

In [16]:
age=17

if(age>18):
  print("verdadero, entra")
else:
  print("que siga")
print("falso, no entra")

que siga
falso, no entra

the elif statement

es cuando hay más de una condicionante

In [18]:
boleto=1

if(boleto>1):
  print("boleto 2")
elif(boleto==1):
  print("boleto 1")
else:
  print("no tiene boleto")
print("gracias") #tambien se puede dejar las comillas

boleto 1

Logic operators

toma valores booleanos y produce diferentes valores booleanos

el primer ejemplo es 

not

cuando una entrada es "verdadera" da como resultado "falso", eso quiere decir que dice lo contrario entre verdadero y falso

or

la funcion de 'or' es la funcion de dos condicionantes que debe de cumplir por lo menos con una condicionante para ser verdadera

In [19]:
album_year=1990

if(album_year<1970)or(album_year>1989):
  print("el album esta entre los años 70's y 90's")
else:
  print("el album esta en 1980's")

el album esta entre los años 70's y 90's

and

es la funcion que debe de coincidir con todas las variables verdaderas

In [20]:
album_year=1983
if(album_year>1970)and(album_year<1990):
  print("el album es de los 80's")

el album es de los 80's

In [26]:
#quizz

x='a'

if(x!='a'):

  print("This is not a.")

else:

  print("This is a.")

This is a.

Loops

range

Formula es (0,...,N-1)

ejemplo

range(3)

resultado es [0,1,2]

range(10:15)

resultado es [10,11,12,13,14]

For loops

busca valores de forma repetida dentro de las tablas

ejemplos

for i in

esta funcion sirve para cambiar los valores de un indice

In [34]:
squares=["rojo","amarilo","azul","morado"]
for i in range(0,4):
  #en esta función la "i" significa que va incrementado el valor
  squares[1]=("white")
  #lo que este dentro del [] cambia el valor, pero si ponemos "i" ó [i] se hara en todas los valores
print(squares)

['rojo', 'white', 'azul', 'morado']

In [36]:
squares=["rojo","amarilo","azul","morado"]
for i in range(0,4):
  #en esta función la "i" significa que va incrementado el valor
  squares[i]=("white")
  #lo que este dentro del [] cambia el valor, pero si ponemos "i" ó [i] se hara en todas los valores
print(squares)

['white', 'white', 'white', 'white']

fon in

significa que buscará valores dentro del indice

In [45]:
squares=["rojo","amarilo","azul","morado"]
for i,square in enumerate(squares):
  square
  i

While loops

es igual que for pero con condiciones

ejemplo

In [46]:
squares=["orange","orange","purple","blue"]
Newsquares=[]
i=0
while(squares[i]=="orange"):
  Newsquares.append(square[i])
  i=i+1

In [50]:
#examen
A=[3,4,5]

for a in A:
  print(a)

x=3

y=1

while(y!=x):

  print(y)

  y=y+1

3
4
5
1
2